{% extends 'students/base.html' %}
{% block content %}

<div class="modal" id="myModal{{student.id}}" tabindex="-1" aria-labelledby="myModalLabel1" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">
            Student: {{ student.first_name }} {{ student.last_name }}
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"></span>
          </button>
        </div>
        <div class="modal-body">
            <ul class="list-unstyled">
                <li>Registration Number: <strong>{{ student.registration_number }}</strong></li>
                <li>First Name: <strong>{{ student.first_name }}</strong></li>
                <li>Last Name: <strong>{{ student.last_name }}</strong></li>
                <li>Email: <strong>{{ student.email }}</strong></li>
                <li>Course: <strong>{{ student.course }}</strong></li>
                <li>Marks: <strong>{{ student.marks }}</strong></li>
              </ul>
        </div>
        <a class="btn btn-warning me-1" href="{% url 'edit' student.id %}">
            <i class="fa-solid fa-pen-to-square fa-lg"></i>
        </a>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}